
.md-button {
    color : currentColor;
}
.md-button:not([disabled]):hover {
    background-color: rgba(158, 158, 158, 0.2);
}
.md-button[disabled] {
    color : rgba(0, 0, 0, 0.26);
    background-color: transparent;
}
.home_button{
        margin-left: 50px;
    height: 40px;
    width: 50px;
}

.md-button.groupX {
    height: 63px;
    color: rgba(3, 4, 11, 0.96);
}
.md-button.groupX:focus  {
    background-color: #66747B;
}
.md-button:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
}

a:link {
    text-decoration: none;
}
hr {
    position: relative;
    left: 140px;
}
.home_page {
    float: left;
    width: 70%;
    margin-left: 1em;
}
h3 {
    color: #66747B;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 1em;
}
.appTable th, .appTable td {
    border:1px solid #8b8b8b;
}
.appTable {
    width: 40%;
    border-collapse: collapse;
    margin: 15px 16px 40px 16px;
}
.appTable th {
    height: 40px;
    font-size: 15px;
    text-align: center;
}
.appTable td {
    padding-top: 10px;
    vertical-align: top;
    height:40px;
    text-align: center;
}