<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"  />
    <title>Merchandise_control</title>
    <link rel="stylesheet"  type="text/css"  href="/stylesheets/add_type.css" />
    <script src="/javascripts/jquery-3.0.0.js"></script>
    <script src="/javascripts/add_type.js"></script>
</head>
<body>
<div class="title_style">
    <p>pos机后台管理系统</p>
</div>
<div class="home_style">
    <div class="menu_navigation">
        <a href="admin" ><button class="merchandise_control">商品管理</button></a>
        <button class="Preferential_activity">折扣活动</button>
    </div>
    <div class="supervise_info">
        <a href="admin"><p class="goods_info">商品信息管理</p></a> >>
        <a href="add_goods" ><p class="add_goods">添加商品</p></a> >>
        <p class="add_type">添加属性</p>
        <p class="type_name">属性名 : <input type="text" placeholder="请输入属性名"/></p>
        <p class="type_value">属性值 : <input type="text" placeholder="请输入该属性的属性值" /></p>
        <button class="save_type">保存</button>
        <button class="cancel">取消</button>
    </div>
</div>
</body>
</html>