<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"  />
    <title>Merchandise_control</title>
    <link rel="stylesheet"  type="text/css"  href="/stylesheets/add_goods.css" />
    <script src="/javascripts/jquery-3.0.0.js"></script>
    <script src="/javascripts/add_goods.js"></script>
</head>
<body>
<div class="title_style">
    <p>pos机后台管理系统</p>
</div>
<div class="home_style">
    <div class="menu_navigation">
        <a href="admin" ><button class="merchandise_control">商品管理</button></a>
        <button class="Preferential_activity">折扣活动</button>
    </div>
    <div class="supervise_info">
        <form method="post">
            <a href="admin" ><input type="submit" class="save_goods" value="保存商品" /></a>
            <a href="add_type" ><input type="button" class="add_type" value="添加属性"/></a>
            <a href="delete_type" ><input type="button" class="delete_type" value="删除属性"/></a>
            <a href="admin" ><input type="button" class="cancel" value="取消"/></a>
            <p class="goods_name">商 品 名 称 : <input type="text" name="goods_name" placeholder="请输入商品名称"/></p>
            <p class="goods_count">商 品 数 量 : <input type="button" class="subtract"value="-"/><input type="text" name="goods_count" class="count_boder" value="0"/><input type="button" class="augment"value="+"/></p>
            <p class="unit_price">单 价 (元) : <input type="text" name="unit_price" placeholder="请输入单价"/></p>
            <p class="unit">单 位 : <input type="text" name="unit" placeholder="请输入单位 "/></p>
        </form>
    </div>
</div>
</body>
</html>