<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"  />
    <title>Merchandise_control</title>
    <link rel="stylesheet"  type="text/css"  href="/stylesheets/delete_type.css" />
    <script src="/javascripts/jquery-3.0.0.js"></script>
    <script src="/javascripts/delete_type.js"></script>
</head>
<body>
<div class="title_style">
    <p>pos机后台管理系统</p>
</div>
<div class="home_style">
    <div class="menu_navigation">
        <a href="admin" ><button class="merchandise_control">商品管理</button></a>
        <button class="Preferential_activity">折扣活动</button>
    </div>
    <div class="supervise_info">
        <a href="admin"><p class="goods_info">商品信息管理</p></a> >>
        <p class="goods_name">商品名称</p> >>
        <p class="delete_type">删除属性</p>
        <table class="goods_type">
            <tr>
                <th>属性名称</th>
                <th>属性值</th>
                <th>操作</th>
            </tr>
        </table>
    </div>
</div>
</body>
</html>