<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"  />
    <title>Merchandise_control</title>
    <link rel="stylesheet"  type="text/css"  href="/stylesheets/goods_details.css" />
    <script src="/javascripts/jquery-3.0.0.js"></script>
    <script src="/javascripts/goods_details.js"></script>
</head>
<body>
<div class="title_style">
    <p>pos机后台管理系统</p>
</div>
<div class="home_style">
    <div class="menu_navigation">
        <a href="admin" ><button class="merchandise_control">商品管理</button></a>
        <button class="Preferential_activity">折扣活动</button>
    </div>
    <div class="supervise_info">
        <a href="admin" ><button class="save_goods">保存属性</button></a>
        <a href="add_type" ><button class="add_type">添加属性</button></a>
        <button class="delete_type">删除属性</button>
        <button class="cancel">取消</button>
        <p class="goods_name">商 品 名 称 : <input type="text"/></p>
        <p class="goods_count">商 品 数 量 : <button class="subtract">-</button><input type="text" value="0"/><button class="augment">+</button></p>
        <p class="unit_price">单 价 (元) : <input type="text"/></p>
        <p class="unit">单 位 : <input type="text"/></p>
        <p class="data">生 产 日 期 : <input type="text"/></p>
    </div>
</div>
</body>
</html>