body{
    margin: 0;
    width: 1484px;
}
.title_style {
    background-color: #e5e5e5;
    border: 3px solid #8b8b8b;
    border-bottom: 1px solid #8b8b8b;
    height: 50px;
    width: 1479px;
    background-image: url(../images/dea.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 40px 10px;
}
.title_style p {
    font-size: 20px;
    padding-left: 100px;
    margin: 0;
    line-height: 50px;
    color: #3d3d3d;
}
.home_style {
    border: 3px solid #8b8b8b;
    border-top: 1px solid #8b8b8b;
    height: 550px;
    width: 1479px;
}
.menu_navigation {
    margin: 0;
    float: left;
    background-color: #b1b1b1;
    border-right: 2px solid #8b8b8b;
    height: 550px;
    width: 14.2%;
}
.merchandise_control {
    font-size: 15px;
    height: 40px;
    width: 210px;
    background-color: #b1b1b1;
    border: 0;
    border-bottom: 1px solid #8b8b8b;
}
.Preferential_activity {
    font-size: 15px;
    height: 40px;
    width: 210px;
    background-color: #b1b1b1;
    border: 0;
    border-bottom: 1px solid #8b8b8b;
}
.supervise_info {
    float: left;
    display: inline;
    margin: 0;
    height: 550px;
    width: 1265px;
}
.save_goods {
    margin-left: 160px;
    margin-top: 38px;
    margin-bottom: 28px;
    border-radius: 5px;
    border: 1px solid #8b8b8b;
    width:100px;
    height:26px;
    font-size: 80%;
}
.add_type {
    margin-left: 160px;
    margin-top: 38px;
    margin-bottom: 28px;
    border-radius: 5px;
    border: 1px solid #8b8b8b;
    width: 100px;
    height: 26px;
    font-size: 80%;
}
.delete_type {
    margin-left: 160px;
    margin-top: 38px;
    margin-bottom: 28px;
    border-radius: 5px;
    border: 1px solid #8b8b8b;
    width:100px;
    height:26px;
    font-size: 80%;
}
.cancel {
    margin: 38px 200px 28px 160px;
    border-radius: 5px;
    border: 1px solid #8b8b8b;
    width:100px;
    height:26px;
    font-size: 80%;
}
.goods_name {
    display: inline;
    line-height: 50px;
    margin: 0 180px 0 160px;
    font-size: 15px;
}
.goods_count {
    display: inline;
    line-height: 50px;
    margin: 0 180px 0 160px;
    font-size: 15px;
}
.unit_price {
    display: inline;
    line-height: 50px;
    margin: 0 180px 0 170px;
    font-size: 15px;
}
.unit {
    display: inline;
    line-height: 50px;
    margin: 0 180px 0 195px;
    font-size: 15px;
}
.subtract {
    text-align: center;
    border: 1px solid #8b8b8b;
    border-right: 0;
    width:50px;
    height:22px;
    font-size: 75%;
    background-color: rgba(85, 175, 255, 0);
    color:black
}
.count_boder {
    border: 1px solid #8b8b8b;
    width:69px;
    height:18px;
    color: #8b8b8b;
    text-align: center;
    line-height: 50px;
    background-color: rgba(85, 175, 255, 0);
}
.augment {
    text-align: center;
    border: 1px solid #8b8b8b;
    border-left: 0;
    width:50px;
    height:22px;
    font-size: 75%;
    background-color: rgba(85, 175, 255, 0);
    color:black;
}
