body{
    margin: 0;
    width: 1484px;
}
.title_style {
    background-color: #e5e5e5;
    border: 3px solid #8b8b8b;
    border-bottom: 1px solid #8b8b8b;
    height: 50px;
    width: 1479px;
    background-image: url(../images/1313308502.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 40px 10px;
}
.title_style p {
    font-size: 20px;
    padding-left: 100px;
    margin: 0;
    line-height: 50px;
    color: #3d3d3d;
}
.home_style {
    border: 3px solid #8b8b8b;
    border-top: 1px solid #8b8b8b;
    height: 550px;
    width: 1479px;
}
.menu_navigation {
    margin: 0;
    float: left;
    background-color: #b1b1b1;
    border-right: 2px solid #8b8b8b;
    height: 550px;
    width: 14.2%;
}
.merchandise_control {
    font-size: 15px;
    height: 40px;
    width: 210px;
    background-color: #b1b1b1;
    border: 0;
    border-bottom: 1px solid #8b8b8b;
}
.Preferential_activity {
    font-size: 15px;
    height: 40px;
    width: 210px;
    background-color: #b1b1b1;
    border: 0;
    border-bottom: 1px solid #8b8b8b;
}
.supervise_info {
    float: left;
    display: inline;
    margin: 0;
    height: 550px;
    width: 1265px;
}
.supervise_info p {
    margin-top: 10px;
    padding-left: 10px;
    font-size: 14px;
    color: #393939;
}
.add_goods {
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 18px;
    border-radius: 5px;
    border: 0;
    width:80px;
    height:33px;
    font-size: 80%;
    background-color: rgba(24, 125, 255, 0.91);
    color:#FFFBF4;
}
.home_table {
    width: 97.5%;
    border-collapse: collapse;
    margin-left: 10px;
    color: #393939;
    font-size: 14px;
}
.home_table tr {
    text-align: center;
    height: 35px;
    border-top: 1px solid #8b8b8b;
}
.subtract {
    text-align: center;
    border: 1px solid #8b8b8b;
    border-right: 0;
    width:30px;
    height:30px;
    font-size: 75%;
    background-color: rgba(85, 175, 255, 0);
    color:black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.amount {
    border: 1px solid #8b8b8b;
    width:30px;
    height:26px;
    color: #8b8b8b;
    text-align: center;
    line-height: 50px;
    background-color: rgba(85, 175, 255, 0);
}
.augment {
    text-align: center;
    border: 1px solid #8b8b8b;
    border-left: 0;
    width:30px;
    height:30px;
    font-size: 75%;
    background-color: rgba(85, 175, 255, 0);
    color:black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.details {
    border-radius: 5px;
    border: 0;
    width:40px;
    height:30px;
    font-size: 80%;
    background-color: rgba(24, 125, 255, 0.91);
    color:#FFFBF4;
}
.delete {
    border-radius: 5px;
    border: 0;
    width:40px;
    height:30px;
    font-size: 80%;
    background-color: rgba(24, 125, 255, 0.91);
    color:#FFFBF4;
}
.name {
    text-align: center;
    border: 0;
    width: 50px;
}
.background_box {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
}
.choice_box {
    position: relative;
    border: 1px solid #8b8b8b;
    width:200px;
    height:100px;
    top: 25%;
    left: 50%;
    z-index: 10;
    background-color: white;
}
.ask {
    margin: 20px 20px 0 10px;
    hight: 30px;
    width: 200px;
}
.ask p{
    display: inline;
}
.cancel {
    margin-left: 10px;
    margin-top: 25px;
    border-radius: 5px;
    border: 1px solid #8b8b8b;
    width:75px;
    height:26px;
    font-size: 80%;
}
.confirm {
    margin-left: 30px;
    margin-top: 25px;
    border-radius: 5px;
    border: 1px solid #8b8b8b;
    width:75px;
    height:26px;
    font-size: 80%;
}